{:paths ["src" "resources"]
 :deps {org.clojure/clojure {:mvn/version "1.10.3"}
        potemkin/potemkin {:mvn/version "0.4.5"}}
 :aliases
 {:run-m {:main-opts ["-m" "egg.vaulisp"]}
  :test {:extra-paths ["test"]
         :extra-deps {org.clojure/test.check {:mvn/version "1.1.0"}}}
  :nrepl {:extra-deps
          {cider/cider-nrepl {:mvn/version "0.25.2"}}}
  :runner
  {:extra-deps {io.github.cognitect-labs/test-runner
                {:git/url "https://github.com/cognitect-labs/test-runner"
                 :sha "2d69f33d7980c3353b246c28f72ffeafbd9f2fab"}}
   :exec-fn cognitect.test-runner.api/test}
  :uberjar {:replace-deps {com.github.seancorfield/depstar {:mvn/version "2.0.216"}}
            :exec-fn hf.depstar/uberjar
            :exec-args {:aot true
                        :jar "vaulisp.jar"
                        :main-class "egg.vaulisp"
                        :sync-pom true}}}}
